<div class="login-main-container">
    <div class="fields-container">
        <p class="header">Sign in</p>
        <div [formGroup]="profileForm" class="form-container">
            <app-input-wrapper [formControlName]="name" label="Name" type="text" required="true"></app-input-wrapper>
            <app-input-wrapper [formControlName]="password" label="Password" type="password" required="true"></app-input-wrapper>
            <div class="link-container">
                <span>First time?</span>
                <a routerLink="/registration">Create a new account</a>
            </div>
            <mat-spinner *ngIf="isLoading$ | async" class="loader" [diameter]="30"></mat-spinner>

            <button mat-raised-button color="primary" class="sign-in-button" (click)="onClickSignIn()" [disabled]="profileForm.invalid">Sign in</button>
        </div>
    </div>
</div>
