.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-management-main-container {
    width: 100%;
    height: 100%;
}

.inner-container {
    @extend .flex-container;
    padding: 0 30px;
    height: 100%;
    flex-direction: column;
}

.team-description-container {
    @extend .flex-container;
    flex-grow: 1;
    width: 100%;
}

.members-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;
}

.members-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-member-button {
    margin: 0 5px 0 auto;
    height: 36px;
}
