.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-management-main-container {
    width: 100%;
    height: 100%;
}

.inner-container {
    @extend .flex-container;
    padding: 0 30px;
    height: 100%;
    flex-direction: column;
}

.team-description-container {
    height: 20%;
    width: 100%;
}

.members-description-container {
    display: flex;
    flex-direction: column;
    min-height: 80%;
    width: 100%;
}

.members-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-member-button {
    margin: 0 5px 0 auto;
    height: 36px;
}

.remove-button {
    margin-left: 10px;
}

.user-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    span {
       font-size: 18px;
    }
}

.user-status {
    margin: 0 10px;
    color: green;
}

.blocked-user {
    color: red;
}

.empty-users {
    text-align: center;
}
