<div class="story-container" cdkDrag [cdkDragData]="story">
  <div class="story-header">
    <span (click)="onClick()" matTooltip="View Details">{{ story.storyId }}</span>
    <div class="icons-container">
      <mat-icon matTooltip="Ready" class="story-ready-icon">done_outline</mat-icon>
      <mat-icon matTooltip="Block" class="story-ready-icon">block</mat-icon>
    </div>
    <div>
      <mat-icon class="dnd-icon" cdkDragHandle>more_vert</mat-icon>
    </div>
  </div>
  <div class="story-body">
    <span>{{ story.title }}</span>
    <div class="story-user">
        <mat-icon class="user-icon">account_circle</mat-icon>
        {{ storyOwner }}
    </div>
  </div>
</div>
