.flex-alignment {
    justify-content: center;
    align-items: center;
    display: flex;
}

.root-project-management {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-project-main-container {
    width: 100%;
    height: 100%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

.project-description-container {
    display: flex;
    height: 30%;
    width: 100%;
}

.project-sprints-epics-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

.create-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    align-items: center;
    margin-right: 30px;
}

.add-item-button {
    position: absolute;
    right: 1%;
    top: 1%;
}

.manage-buttons-container {
    display: flex;
    flex-direction: row;
}

.remove-button {
    margin-left: 10px;
}

.list-item {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.5);

    &:last-child {
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    }

    span {
        font-size: 18px;
    }

    button {
        margin-left: 10px;
    }

    div {
        margin: 0 5px 0 auto;
    }
}

.list-item-label {
    font-size: 16px !important;
}
