<div class="root-project-management">
    <div class="loader-container" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="main-project-main-container">
        <div class="project-description-container">
            <div *ngIf="project.projectId; else create" class="create-button-container">
                <h2>{{ project.projectName }}</h2>
                <p>Start date: {{ project.startDate | date: 'dd-MM-yyyy' }}</p>
                <p>End date: {{ project.endDate | date: 'dd-MM-yyyy' }}</p>
                <div class="manage-buttons-container">
                    <button mat-raised-button color="primary" (click)="onClickUpdateProject()">Update project info</button>
                    <button mat-raised-button color="warn" class="remove-button">Remove project</button>
                </div>
            </div>
            <ng-template #create>
                <div class="create-button-container flex-alignment">
                    <button mat-raised-button color="primary" (click)="onClickCreateProject()">Create project</button>
                </div>
            </ng-template>
        </div>
        <div class="project-sprints-epics-container">
            <div class="list-container">
                <h3>Epics</h3>
                <button
                    class="add-item-button"
                    mat-raised-button color="primary"
                    (click)="onClickAddEpic()"
                    [disabled]="!project"
                >
                    Add epic
                </button>
                <ng-container *ngIf="epics.length; else emptyEpics">
                    <div *ngFor="let epic of epics" class="list-item">
                        <span class="list-item-label">
                            {{ epic.epicName }} |
                            {{ epic.startDate | date: 'yyyy.MM.dd' }} -
                            {{ epic.endDate | date: 'yyyy.MM.dd' }}
                        </span>
                        <div>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="onClickViewSprintsFromEpic(epic.epicId)"
                            >
                                View sprints
                            </button>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="onClickUpdateEpic(epic)"
                            >
                                Update
                            </button>
                            <button mat-raised-button color="warn" (click)="onClickRemoveEpic(epic.epicId)">Remove</button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #emptyEpics>
                    <p>No epics created yet...</p>
                </ng-template>
            </div>
            <div class="list-container">
                <button
                    class="add-item-button"
                    mat-raised-button color="primary"
                    (click)="onClickAddSprint()"
                    [disabled]="!project"
                >
                    Add sprint
                </button>
                <h3>Sprints</h3>
                <ng-container *ngIf="sprints.length; else emptySprints">
                    <div *ngFor="let sprint of sprints" class="list-item">
                        <span class="list-item-label">
                            {{ sprint.sprintName }} |
                            {{ sprint.startDate | date: 'yyyy.MM.dd' }} -
                            {{ sprint.endDate | date: 'yyyy.MM.dd' }}
                        </span>
                        <div>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="onClickUpdateSprint(sprint)"
                            >
                                Update
                            </button>
                            <button mat-raised-button color="warn" (click)="onClickRemoveSprint(sprint.sprintId)">Remove</button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #emptySprints>
                    <p>No sprints created yet...</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
