<div class="story-container">
  <div class="story-header">
    <span (click)="onClick()">{{ story.id }}</span>
    <div class="icons-container">
      <mat-icon class="story-ready-icon">done_outline</mat-icon>
      <mat-icon class="story-ready-icon">block</mat-icon>
    </div>
  </div>
  <div class="story-body">
    <span>{{ story.title }}</span>
    <div class="story-user">
      <mat-icon class="user-icon">account_circle</mat-icon>
      <span>{{ story.user ? story.user : 'No Owner' }}</span>
    </div>
  </div>
</div>
