<h2>Team creation</h2>
<form [formGroup]="formGroup">
    <div class="project-creation-form-container">
        <app-input-wrapper [formControlName]="teamName" type="text" label="Team name" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="location" type="text" label="Location (city, country)" required="true"></app-input-wrapper>
    </div>
</form>
<button
    mat-raised-button
    color="primary"
    [disabled]="formGroup.invalid"
    (click)="onClickCreate()"
>
    Create team
</button>
