<div class="registration-main-container">
    <div class="fields-container" [formGroup]="registrationForm">
        <p class="header">Registration</p>
        <app-input-wrapper [formControlName]="name" label="Name" type="text" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="password" label="Password" type="password" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="repeatedPassword" label="Confirm your password" type="password" required="true"></app-input-wrapper>
        <div class="link-container">
            <span>Have account already?</span>
            <a routerLink="/auth/sign-in">Sign In</a>
        </div>
        <span class="account-creation" *ngIf="isRegistrationSuccessful$ | async">Your account was created!</span>
        <mat-spinner *ngIf="isLoading$ | async" class="loader" [diameter]="30"></mat-spinner>
        <button mat-raised-button color="primary" class="sign-in-button" (click)="onClickCreateAccount()" [disabled]="registrationForm.invalid || verifyPasswords()">
            Create account
        </button>
    </div>
</div>
