<h2>{{ label }} creation</h2>
<form [formGroup]="formGroup">
    <div class="project-creation-form-container">
        <app-input-wrapper [formControlName]="sprintName" type="text" label="{{ label }} name" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="startDate" type="date" label="Start date" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="endDate" type="date" label="End date" required="true"></app-input-wrapper>
        <app-select-wrapper [formControlName]="epicId" label="Select epic" [options]="epics"></app-select-wrapper>
    </div>
</form>
<button 
    mat-raised-button 
    color="primary" 
    [disabled]="formGroup.invalid" 
    (click)="onClickCreate()"
>
    Create {{ label }}
</button>