<h2>Sprint {{ isCreation ? 'creation' : 'update' }}</h2>
<form [formGroup]="formGroup">
    <div class="project-creation-form-container">
        <app-input-wrapper [formControlName]="sprintName" label="Sprint name" type="text" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="startDate" label="Start date" type="date" required="true"></app-input-wrapper>
        <app-input-wrapper [formControlName]="endDate" label="End date" type="date" required="true"></app-input-wrapper>
        <app-select-wrapper [formControlName]="epicId" label="Select epic" [options]="epics"></app-select-wrapper>
    </div>
</form>
<button
    mat-raised-button
    color="primary"
    [disabled]="formGroup.invalid"
    (click)="onClickCreate()"
>
    {{ isCreation ? 'Create' : 'Update' }} sprint
</button>
